<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="wrapper">
                    <h3><img src="../../../assets/HomeTemp/images/logo/FOOD_STATION__1_-removebg-preview.png" width="300px" height="200px"></h3>
                 
                    <div class="form-group">
                        <input class="form-control" placeholder="Enter Your Email" role="text" name="email" type="email">
                        <i class="fal fa-envelope-open"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="wrapper">
                    <h2>Usefull Links</h2>
                    <div class="content">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Menu</a></li>
                            
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="wrapper">
                    <h2> Opening Time</h2>
                    <div class="content">
                        <ul class="d-flex se">
                            <li><a>Monday</a>
                                <span>8 AM &nbsp;-&nbsp; 10 PM</span>
                            </li>
                            <li><a>Tuseday</a>
                                <span>8 AM &nbsp;-&nbsp; 10 PM</span>
                            </li>
                            <li><a>Wednesday</a>
                                <span>8 AM &nbsp;-&nbsp; 10 PM</span>
                            </li>
                            <li><a>Thursday</a>
                                <span>8 AM &nbsp;-&nbsp; 10 PM</span>
                            </li>
                            <li><a>Friday</a>
                                <span>8 AM &nbsp;-&nbsp; 10 PM</span>
                            </li>
                            <li><a>Saturday</a>
                                <span>8 AM &nbsp;-&nbsp; 10 PM</span>
                            </li>
                            <li><a>Sunday</a>
                                <span>8 AM &nbsp;-&nbsp; 10 PM</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</footer>
