<header>
    <div class="main-nav">
       <div class="logo">
           <img src="../../../assets/HomeTemp/images/logo/FOOD_STATION__1_-removebg-preview.png" height="140px" width="300px">
       </div>
       <div class="menu-toggle">
           <i class="fal fa-bars"></i>
       </div>
        <div class="menu">
            <ul>
                <li><a routerLink="/home/main">Home</a></li>
                <li><a routerLink="/home/about-us">About Us</a></li>

                <li><a routerLink="/home/menue">Recipe Menue</a></li>
                <li><a routerLink="/home/contact-us">Contact Us</a></li>
            </ul>
        </div>
    </div>
</header>

    <section class="slider">
        <div class="shap"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="wrapper">
                        <div class="content">
                            <h1>
                        Welcome to<br><span style="color: red;">Station Food </span>Restaurant </h1>
                                <p>Your journey to delicious flavors starts here.<br> From fresh ingredients to unique recipes, we bring you a dining experience like no other.</p>
                            <ol>
                                <li><a routerLink="/home/reserve">Reserve A Table</a></li>
                                
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="wrapper">
                        <div class="image">
                            <img src="../../../assets/HomeTemp/images/banner/1.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   